header {
  padding: 15px 15px 5px 15px;
  text-align: center;
}

.start-page {
  border: 3px solid gray;
  padding: 5px 15px 15px 15px;
  text-align: center;
}

.quiz-page {
  border: 3px solid grey;
  margin: 10px;
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

ul li label {
  padding: 5px;
}

#answer-choices {
  padding: 10px;
  margin: 10px;
}

#feedback {
  border: 3px solid grey;
  margin: 10px;
  padding: 10px;
}

#summary {
  border: 3px solid grey;
  margin: 10px;
  padding: 10px;
}